.flex-container {
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap as needed */
  align-items: stretch;
}

.flex-child,
.flex-child-1 {
  flex: 1;
}
.flex-child-2 {
  flex: 2;
}
.flex-child-3 {
  flex: 3;
}
.flex-child-4 {
  flex: 4;
}
.flex-child-5 {
  flex: 5;
}
.flex-child-6 {
  flex: 6;
}
.flex-child-7 {
  flex: 7;
}
.flex-child-8 {
  flex: 8;
}

.flex-child,
.flex-child-1,
.flex-child-2,
.flex-child-3,
.flex-child-4,
.flex-child-5,
.flex-child-6,
.flex-child-7,
.flex-child-8 {
  margin-right: 20px; /* Adds space between the columns */
}

@media (max-width: 600px) {
  .flex-child,
  .flex-child-1,
  .flex-child-2,
  .flex-child-3,
  .flex-child-4,
  .flex-child-5,
  .flex-child-6,
  .flex-child-7,
  .flex-child-8 {
    flex: 100%; /* Makes the child divs take up the full width on slim devices */
    margin-right: 0; /* Removes the right margin */
  }
}

@keyframes burn {
  0% {
    text-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 15px #f00, 0 0 20px #f00,
      0 0 25px #f00, 0 0 30px #f00, 0 0 35px #f00;
  }
  50% {
    text-shadow: 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0, 0 0 25px #f00,
      0 0 30px #f00, 0 0 35px #f00, 0 0 40px #f00;
  }
  100% {
    text-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 15px #f00, 0 0 20px #f00,
      0 0 25px #f00, 0 0 30px #f00, 0 0 35px #f00;
  }
}

.burning-text {
  font-weight: bold;
  color: #fff;
  animation: burn 1.5s infinite alternate;
}
